<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wheater data API</title>
</head>
<body>
  <h1>Wheater Data API</h1>
  <p>URL format: <strong>http://127.0.0.1:5000/api/v1/station/date</strong></p>
  <p>URL Example for one station at one day: <strong>http://127.0.0.1:5000/api/v1/10/1988-10-26</strong></p>
  <p>URL Example for one station with all dates: <strong>http://127.0.0.1:5000/api/v1/10</strong></p>
  <p>URL Exmaple for one station for one year: <strong>http://127.0.0.1:5000/api/v1/yearly/10/1998</strong></p>
  <p>{{ data|safe }}<p>
</body>
</html>